<app-title title="Defer Triggers" />

<section>
  <hr class="my-2">
  @defer (on interaction) {
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span class="w-full h-20 flex items-center justify-center">On Interaction</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-purple-100 flex items-center justify-center">Click me!</div>
  }
</section>

<section>
  <hr class="my-2">
  <button #btnInteraction class="p-2 bg-blue-500 hover:bg-blue-700 transition-all rounded text-white my-2">Click me!</button>
  @defer (on interaction(btnInteraction)) {
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span class="w-full h-20 flex items-center justify-center">On Interaction</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-purple-100 flex items-center justify-center">Placeholder</div>
  }
</section>

<section>
  <hr class="my-2">
  @defer (on hover) {
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span class="w-full h-20 flex items-center justify-center">On Interaction</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-purple-100 flex items-center justify-center">Ven aquí</div>
  }
</section>

<section>
  <hr class="my-2">
  @defer (on immediate) {
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span class="w-full h-20 flex items-center justify-center">On Immediate</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-purple-100 flex items-center justify-center">Placeholder</div>
  }
</section>

<section>
  <hr class="my-2">
  @defer (on timer(3000)) {
    <app-heavy-loaders-fast cssClass="bg-green-500 h-20">
      <span class="w-full h-20 flex items-center justify-center">On Timer</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-purple-100 flex items-center justify-center">3 Segundos</div>
  }
</section>

<section>
  <hr class="my-2">
  @defer (on hover; prefetch on idle) {
    <app-heavy-loaders-fast cssClass="bg-green-300 h-20">
      <span class="w-full h-20 flex items-center justify-center">On Hover, Idle</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-purple-100 flex items-center justify-center">Ven aquí o espera</div>
  }
</section>
